body {
  direction: rtl;
  text-align: right;
}
.p-datatable th,
.p-datatable td {
  text-align: right !important; /* راست‌چین کردن محتوا */
}

.p-d-flex {
  flex-direction: row-reverse; /* معکوس کردن جهت عناصر */
}

.p-button {
  margin-left: 0.5rem; /* برای تنظیم فاصله دکمه‌ها */
  margin-right: 0; /* حذف فاصله اضافی */
}


/* استایل مخصوص فیلدهای ReadOnly */
.readonly-input {
  background-color: #e9ecef !important;
  color: #6c757d !important;
  border: 1px solid #ced4da !important;
  cursor: not-allowed;
}
